<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bit_etland.web.cust.CustomerMapper">
  <select id="selectCustomer" resultType="com.bit_etland.web.cust.Customer">
    SELECT 
	  	CUSTOMER_ID customerID, 
        CUSTOMER_NAME customerName, 
        PASSWORD, 
        SSN ,
        PHONE,
        CITY,
        ADDRESS,
        POSTALCODE
	  FROM CUSTOMERS 
	  WHERE CUSTOMER_ID LIKE #{customerID} 
	  	<if test="password != null">
	  		AND PASSWORD LIKE #{password}
	  	</if>
  </select>
  
  
   <select id="selectCustomerList" resultType="com.bit_etland.web.cust.Customer"
    parameterType="com.bit_etland.web.cmm.Proxy">
    SELECT 
	  	CUSTOMER_ID customerID, 
        CUSTOMER_NAME customerName, 
        PASSWORD, 
        SSN ,
        PHONE,
        CITY,
        ADDRESS,
        POSTALCODE,
        PHOTO
	  FROM CUSTOMERS 
  </select>
   <insert 
	  id="insertCustomer"
	  parameterType="com.bit_etland.web.cust.Customer"
	  flushCache="true"
	  statementType="PREPARED"
	  timeout="20">
        INSERT INTO CUSTOMERS(CUSTOMER_ID,CUSTOMER_NAME,PASSWORD,ADDRESS,CITY,POSTALCODE,SSN,PHONE) 
        values (#{customerID},#{customerName},#{password},#{address}
        		,#{city},#{postalCode},#{ssn},#{phone})
   </insert>
   
	<update
	  id="updateCustomer"
	  parameterType="com.bit_etland.web.cust.Customer"
	  flushCache="true"
	  statementType="PREPARED"
	  timeout="20">
	  UPDATE CUSTOMERS SET 
	  PASSWORD = #{password},ADDRESS = #{address},CITY = #{city}, 
	  			POSTALCODE = #{postalCode}
	  			WHERE CUSTOMER_ID LIKE #{customerID}
	</update>
	<delete
	  id="deleteCustomer"
	  parameterType="com.bit_etland.web.cust.Customer"
	  flushCache="true"
	  statementType="PREPARED"
	  timeout="20">
	  DELETE FROM CUSTOMERS WHERE CUSTOMER_ID LIKE #{customerID}
	</delete>
</mapper>